<ion-content>
  <div class="content-container">
    <ion-card class="card-style">
      <ion-card-header>
        <ion-card-title>Nova Audiência</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-input type="number" placeholder="Número da Audiência" name="num" id="num" clearInput="true" [(ngModel)]="courtHearing.num"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="text" name="date" id="date" placeholder="Data da Audiência" clearInput="true" ontouchstart="(this.type='date')" [(ngModel)]="courtHearing.date"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="text" name="time" id="time" placeholder="Hora da Audiência" clearInput="true" ontouchstart="(this.type='time')" [(ngModel)]="courtHearing.time"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="text" placeholder="Nome do Advogado" name="lawyer" clearInput="true" [(ngModel)]="courtHearing.lawyer"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="text" placeholder="Fórum Escolhido" name="forum" clearInput="true" [(ngModel)]="courtHearing.forum"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input placeholder="Endereço do Fórum" name="adress" clearInput="true" [(ngModel)]="courtHearing.adress"></ion-input>
        </ion-item>
        <ion-button class="btn-style" (click)="createCourtHearing()">Criar</ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>