.toolbar-container{
    display: flex;
    background-color: #3c61b2;
    color: white;
    height: 45px;
    align-items: center;
    justify-content: space-between;
    .title-style {
      margin-left: 14px;
      font-size: 19px;
    }
}

.content-container {
    display: flex;
    flex-direction: column;
    .button-container{
        display: flex;
        justify-content: space-between;
        width: 100%;
        .btn-update-style {
            margin-top: 30px;
            width: 100px;
        }
        .btn-cancel-style {
            margin-top: 30px;
            width: 100px;
        }
    }
}

ion-card {
    border-left: 6px solid #3c61b2;
    border-radius: 3px;
    margin-top: 60px;
}

ion-card-header {
    display: flex;
    justify-content: space-between;
}

ion-button {
    --background: #3c61b2;
}

.footer-container {
    display: flex;
    flex-direction: column;
  }
  
  .icon-style {
    font-size: 18px;
  }
  
  ion-content {
    --background: white;
  }
  
  ion-tab-bar {
    --background: #3c61b2;
  }
  
  .color {
    color: white;
  }
