.content-container {
    display: flex;
    .card-container {
        display: flex;
        justify-content: center;
        .space-style {
            margin-left: 4px;
        }
        .button-container{
            display: flex;
            justify-content: space-between;
            width: 100%;
            .btn-style {
                margin-top: 30px;
                width: 100px;
            }
            .btn-update-style {
                margin-top: 30px;
                width: 100px;
                
            }
        }
    }
}

.margin {
    margin-top: 46px;;
}

ion-card {
    border-left: 6px solid #3c61b2;
    border-radius: 3px;
    width: 100%;
}

ion-card-header {
    display: flex;
    justify-content: space-between;
}